<div>
  <div>
    <h1>
      Real Estate Investing Information
    </h1>
  </div>
</div>

<div>
  <div>
    <h2>
      Real Estate Investment Trust
    </h2>
  </div>
</div>

<div>
  <div>
      REITs, or Real Estate Investment Trusts, are investment vehicles that pool capital from multiple investors to own and operate income-generating properties such as office buildings, apartments, and shopping centers. They provide investors with an opportunity to invest in real estate without directly owning the physical properties, while also offering the potential for regular income and diversification.
  </div>
</div>

<div>
  <div>
    <h3>
      Real Estate Investment Trust investment opportunities:
      <ul>
      <li><a href="https://www.fidelity.com/sector-investing/real-estate/overview" target=”_blank”>Fidelity REITs</a></li>
      <li><a href="https://www.schwab.com/stocks/understand-stocks/reits" target=”_blank”>Schwab REITs</a></li>
      <li><a href="https://investor.vanguard.com/investment-products/etfs/profile/vnq" target=”_blank”>Vanguard REITs</a></li>
      </ul>
    </h3>
  </div>
</div>

<div>
  <div>
    <h2>
      Real Estate ETFs and Mutual Funds
    </h2>
  </div>
</div>

<div>
  <div>
      Real estate ETFs (Exchange-Traded Funds) and mutual funds are investment vehicles that allow individuals to invest in a diversified portfolio of real estate assets. They pool money from multiple investors and invest in real estate-related securities, such as REITs, real estate companies, or real estate-related indexes, providing exposure to the real estate market and the potential for income and capital appreciation.
  </div>
</div>

<div>
  <div>
    <h3>
      Real Estate Investment Trust investment opportunities:
      <ul>
      <li><a href="https://www.fidelity.com/sector-investing/real-estate/overview" target=”_blank”>Fidelity ETFs</a></li>
      <li><a href="https://www.schwab.com/stocks/understand-stocks/reits" target=”_blank”>Schwab ETFs</a></li>
      <li><a href="https://investor.vanguard.com/investment-products/etfs/profile/vnq" target=”_blank”>Vanguard ETFs</a></li>
      </ul>
    </h3>
  </div>
</div>
