<div>
  <div>
    <h1>
      Welcome to RevEstate
    </h1>
  </div>
</div>

<div>
  <div>
    <h2>
      About RevEstate
    </h2>
  </div>
</div>

<div>
  <div>
      This is where our company description would go. We would talk about our founding, mission, etc.
  </div>
</div>
